<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="cadastro.css">
    <title>Cadastro</title>

</head>

<body>
    <div class="new">
        <img src="/img/logo (1).svg" alt="">
        <br><br>
        <input type="text" placeholder="Nome Completo">
        <br> <br>
        <input type="email" placeholder="E-mail">
        <br> <br>
        <input type="number" placeholder="Telefone">
        <br> <br>
        <input type="number" placeholder="CPF/CNPJ">
        <br> <br>
        <input type="text" placeholder="Placa do veículo">
        <br> <br>
        <button>Cadastrar</button>

    </div>

</body>

</html>