<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="esqueciSenha.css">
    <title>Esqueci a senha</title>
</head>

<body>

    <div class="bloom">

    </div>

    <div class="senha">
        <img src="/img/logo (1).svg" alt="">
        <br>
        <div class="notice">
            <p>Insira abaixo os dados para recuperar sua senha.</p>
        </div>
        <br>
        <input type="text" placeholder="CNPJ/CPF">
        <br><br>
        <input type="email" placeholder="E-mail">
        <br><br>
        <button>Enviar</button>
    </div>

</body>

</html>