<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_b87d953499708da8f9b79fc1e6e20630 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_b87d953499708da8f9b79fc1e6e20630" ></div>
        
</body>
<script>
    
    
            var map_b87d953499708da8f9b79fc1e6e20630 = L.map(
                "map_b87d953499708da8f9b79fc1e6e20630",
                {
                    center: [-18.924067, -48.282142],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_5ec491cdb662d28f934ac6b6f5464b75 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_b87d953499708da8f9b79fc1e6e20630);
        
    
            var poly_line_945f4f5ff74bb64bf5599073add7d84b = L.polyline(
                [[-18.924067, -48.282142], [-18.923765, -48.282108], [-18.922135, -48.282052], [-18.920822, -48.281328], [-18.919513, -48.280332], [-18.919663, -48.278498], [-18.920818, -48.276822], [-18.92195, -48.275132], [-18.922981, -48.273508], [-18.923137, -48.273372], [-18.923722, -48.272138], [-18.92295, -48.270782], [-18.919908, -48.267855], [-18.917653, -48.26528], [-18.918151, -48.264539], [-18.918145, -48.264537]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_b87d953499708da8f9b79fc1e6e20630);
        
    
            var marker_1603ac3f3672908d579fde9efac2385c = L.marker(
                [-18.924067, -48.282142],
                {}
            ).addTo(map_b87d953499708da8f9b79fc1e6e20630);
        
    
            var marker_13d0a96e13533a38cb7bfdc492733552 = L.marker(
                [-18.923765, -48.282108],
                {}
            ).addTo(map_b87d953499708da8f9b79fc1e6e20630);
        
    
            var marker_86fbdd07c243d9015fa04ea918dc7ab7 = L.marker(
                [-18.922135, -48.282052],
                {}
            ).addTo(map_b87d953499708da8f9b79fc1e6e20630);
        
    
            var marker_beb89f8630ef406ea037dfcafdcdde7e = L.marker(
                [-18.920822, -48.281328],
                {}
            ).addTo(map_b87d953499708da8f9b79fc1e6e20630);
        
    
            var marker_b7d41b6ab160042ea0dd5f8cb6508f9a = L.marker(
                [-18.919513, -48.280332],
                {}
            ).addTo(map_b87d953499708da8f9b79fc1e6e20630);
        
    
            var marker_5fa4f0acba1e44d79cf052880c73f183 = L.marker(
                [-18.919663, -48.278498],
                {}
            ).addTo(map_b87d953499708da8f9b79fc1e6e20630);
        
    
            var marker_65bf67dfef85a1f7bd3fa017580b45df = L.marker(
                [-18.920818, -48.276822],
                {}
            ).addTo(map_b87d953499708da8f9b79fc1e6e20630);
        
    
            var marker_2356d596fa5e4165b6df70ec369bba61 = L.marker(
                [-18.92195, -48.275132],
                {}
            ).addTo(map_b87d953499708da8f9b79fc1e6e20630);
        
    
            var marker_b21fa6186d1063d6fd5092a7929eaf61 = L.marker(
                [-18.922981, -48.273508],
                {}
            ).addTo(map_b87d953499708da8f9b79fc1e6e20630);
        
    
            var marker_a19449c6f2bbc867c7719fee9aeb791c = L.marker(
                [-18.923137, -48.273372],
                {}
            ).addTo(map_b87d953499708da8f9b79fc1e6e20630);
        
    
            var marker_c16bd50a109954c59ab5ed7e3ef8ac36 = L.marker(
                [-18.923722, -48.272138],
                {}
            ).addTo(map_b87d953499708da8f9b79fc1e6e20630);
        
    
            var marker_d03936bf6eb69b3cd1bb48906dce7228 = L.marker(
                [-18.92295, -48.270782],
                {}
            ).addTo(map_b87d953499708da8f9b79fc1e6e20630);
        
    
            var marker_64dbf3511b6ecfdb01880b2c1fa63f28 = L.marker(
                [-18.919908, -48.267855],
                {}
            ).addTo(map_b87d953499708da8f9b79fc1e6e20630);
        
    
            var marker_11334d71449e9e5550976f77bc9db2b3 = L.marker(
                [-18.917653, -48.26528],
                {}
            ).addTo(map_b87d953499708da8f9b79fc1e6e20630);
        
    
            var marker_fc6202b78f0ee051b2fae2d8411dd281 = L.marker(
                [-18.918151, -48.264539],
                {}
            ).addTo(map_b87d953499708da8f9b79fc1e6e20630);
        
    
            var marker_b5e1df3272a7e318ba5e34098cc91872 = L.marker(
                [-18.918145, -48.264537],
                {}
            ).addTo(map_b87d953499708da8f9b79fc1e6e20630);
        
</script>
</html>