body {
    font-family: 'Times New Roman', Times, serif;
    background-image: url(/img/fundo.jpg);
    background-size: cover;
}

img {
    width: 300px;
    border-radius: 5px;
}

.new {
    background-color: #f8f9faf3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    padding: 80px;
    border-radius: 20px;
    text-align: center;
    color: black;
    border: 30px, solid, black;
}

input {
    border-radius: 10px;
    padding: 10px;
    outline: none;
    font-size: 15px;
    background-color: #f8f9fa;
    outline: none;
}

button {
    background-color: #fd7e14;
    padding: 15px;
    border-radius: 10px;
    outline: none;
    border: none;
    color: white;
 }
 
 button:hover {
     cursor: pointer;
     background-color: #f58634;
     color: white;
 }